{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <h3 style="text-align: center">Sell Stocks<br><br></h3>
    <form action="/sell" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="shares" placeholder="Number of Shares" type="text">
        </div>
        <label for="symbol">Choose a stock:</label>
        <select name="symbol" id="symbol">
            {% for symbol in symbols %}

                <option value="{{ symbol }}">{{ symbol }}</option>

            {% endfor %}
        </select>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
